body {background-color:cornflowerblue;}
table {color: yellow; border-style: solid; margin: auto; width: 50%;}
h1 {font-style: italic; margin-left: 190px; }
th.abc {color: black;}
td.xyz {color:black;}
body {margin-left: 100px ; margin-right: 100px;}
button.wi {width: 40%;}
input.ABC {margin-left: 190px;}
